.hero-glow {
  box-shadow:
    0 0 32px 8px rgba(255, 255, 255, 0.4),
    0 0 64px 16px rgba(255, 255, 255, 0.2),
    0 0 128px 32px rgba(255, 255, 255, 0);
}

.heartbeat-animate path {
  --heartbeat-length: 2000;
  stroke-dasharray: var(--heartbeat-length);
  stroke-dashoffset: var(--heartbeat-length);
  animation: heartbeat-draw-erase 3.5s linear infinite alternate;
}
@keyframes heartbeat-draw-erase {
  from {
    stroke-dashoffset: var(--heartbeat-length);
  }
  to {
    stroke-dashoffset: 0;
  }
} 